In [9]:
import pandas as pd
df = pd.read_excel("online_retail.xlsx")
df.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [11]:
import sys
sys.executable

'/opt/homebrew/opt/python@3.11/bin/python3.11'

In [1]:
import pandas as pd 
df = pd.read_excel("online_retail.xlsx")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [3]:
# 1. Drop rows without Customer ID
df = df.dropna(subset=["Customer ID"])

# 2. Remove negative quantities (returns)
df = df[df["Quantity"] > 0]

# 3. Remove zero or negative price
df = df[df["Price"] > 0]

# 4. Create TotalPrice column
df["TotalPrice"] = df["Quantity"] * df["Price"]

# 5. Convert Customer ID to integer
df["Customer ID"] = df["Customer ID"].astype(int)

# 6. Convert InvoiceDate to datetime if needed
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407664 entries, 0 to 525460
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      407664 non-null  object
 1   StockCode    407664 non-null  object
 2   Description  407664 non-null  object
 3   Quantity     407664 non-null  int64
 4   InvoiceDate  407664 non-null  datetime64[ns]
 5   Price        407664 non-null  float64
 6   Customer ID  407664 non-null  int64
 7   Country      407664 non-null  object
 8   TotalPrice   407664 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 31.1+ MB

In [5]:
import datetime as dt

current_date = df["InvoiceDate"].max() + dt.timedelta(days=1)
current_date

Timestamp('2010-12-10 20:01:00')

In [7]:
recency = df.groupby("Customer ID")["InvoiceDate"].max()
recency = (current_date - recency).dt.days

In [ ]:
frequency = df.groupby("Customer ID")["Invoice"].nunique()
monetary = df.groupby("Customer ID")["TotalPrice"].sum()

In [11]:
rfm = pd.DataFrame({
    "Recency": recency,
    "Frequency": frequency,
    "Monetary": monetary
})

rfm.head()

             Recency  Frequency  Monetary
Customer ID
12346            165         11    372.86
12347              3          2   1323.32
12348             74          1    222.16
12349             43          3   2671.14
12351             11          1    300.93

In [1]:
from sklearn.preprocessing import StandardScaler

In [3]:
scaler = StandardScaler()

In [ ]:
rfm_scaled =